<main>
    <h1>Select your airline</h1>
    <form id="airline-pick" name="airlineParam" method="post" action="/price/airline">
        <label for="originLoc">Type your origin location</label>
        <input id="originLoc" name="originLocationCode" type="text">

        <label for="destination">Type your destination location</label>
        <input id="destination" name="destinationLocationCode" type="text">

        <label for="departureDate">Type your departureu Date</label>
        <input id="departureDate" name="departureDate" type="date">

        <label for="adults">Type your Adults</label>
        <input id="adults" name="adults" type="number">

        <button type="submit">Submit</button>
    </form>
</main>