<div class="container">
    <link rel="stylesheet" href="/public/css/loading.css">
    <main>
        <h1>Select your airline</h1>
        <form id="airline-pick" name="airlineParam" method="post">
            <div>
                <div class="row">
                    <div class="col">
                        <label for="originLoc">Type your origin location</label>
                        <input id="originLoc" name="originLocationCode" type="text">
                    </div>

                    <div class="col">
                        <label for="destination">Type your destination location</label>
                        <input id="destination" name="destinationLocationCode" type="text">
                    </div>
                </div>

                <label for="departureDate">Type your departureu Date</label>
                <input id="departureDate" name="departureDate" type="date">

                <label for="adults">Type your Adults</label>
                <input id="adults" name="adults" type="number">

                <div>
                    <label for="submit"></label>
                    <input type="submit" class="btn" value="Submit">
                </div>
            </div>
        </form>
    </main>
    <div id="flightShow">
        <div id="loadingAni" class="loadContain">
            <h1> Loading </h1>
        </div>
        <ul id="ticketList"></ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/public/js/flightShow.js"></script>
</div>