<div class="container">
    <div>Hotel</div>
    {{#each location}}
        <ul class="list-group"><a href="{{hotel_url}}">{{name}}</a></ul>
        {{#each ../hotels}}
            {{#each this}}
                <li class="list-group-item">{{this.name}}</li>
            {{/each}}
        {{/each}}
        <p></p>
    {{/each}}
</div>
