html,
body {
	font-size: 15pt;
	font-family: Times;
}

h1 {
	color: blue;
}

#search-plans {
	text-align: center;
	color: blue;
}

#search-plans label {
	text-align: center;
}

#plans-searchbutton {
	text-align: center;
}

#addplanbutton {
	text-align: center;
}

#planList {
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
}

title {
	background: white;
}

footer {
	font-family: Times;
}