<div>{{firstName}}</div>
<form action="user_login_register" name="login_register" method="POST">
	<div>Username：<input type="text" name="username" /></div>
	<div>Password：<input type="password" name="password" /></div>
	<div>
		<input type="submit" name="login" id="button" value="Submit" />
		<input type="button"name="register" id="button1" value="Register" οnclick="pp()"/>
	</div>
</form>