<main>
    <h1>My Plans</h1>
    <form id="search-plans"  name="plans-search">
        <div>
            <label>Search：</label>
            <input id="plan-search" type="text" name="thePlans" />
        </div>
    </form>
    <button type="submit">Search</button>
    
    <ul id="planList">
    </ul>
    <div id="planItem">
    </div>

    <div>
        <button onclick="location.href='http://localhost:3000/'" type="button" id="plan-add">Add a plan</button>
	</div>

</main>