<main>
    <h1>Please register</h1>
    <form action="/login/register" method="POST" id="register-form">
        <div>
            <label for="user-lastname">lastName: </label>
            <input id="lastName" type="text" name="lastNames"/>
        </div>
        <div>
            <label for="user-firstname">firstName: </label>
            <input id="firstName" type="text" name="firstNames"/>
        </div>
        <div>
            <label for="user-password">password: </label>
            <input id="password" type="password" name="passwords"/>
        </div>
        <div>
            <label for="confirm-password">confirmPassword: </label>
            <input id="confirmPassword" type="number" name="confirms"/>
        </div>
        <div>
		    <button type="submit" name="registers" id="button">Submit</button>
	    </div>
    </form>
</main>